# EditorConfig helps developers define and maintain consistent
# coding styles between different editors and IDEs
# editorconfig.org

# This file codifies some of the rules as outlined in the style guide at
# https://github.com/bazaarvoice/firebird/blob/master/docs/style-guide.md

# Top-level, no need to traverse higher
root = true

# For all files, apply these rules
[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
